@import "tailwindcss";

*{
    box-sizing: border-box;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    font-family: "IBM Plex Sans Thai", Helvetica, sans-serif;
}

@theme {
    --color-primary-100 : #00000;
}

img{
    object-fit: cover;
}

.product-card {
    @apply flex-1 border border-gray-300 rounded-md;
}

.button {
    @apply w-full flex justify-center items-center rounded-md;
}